[submodule "hdl_generics"]
	path = hdl_generics
	url = https://github.com/hypernyan/hdl_generics
[submodule "p10"]
	path = p10
	url = https://github.com/hypernyan/p10
[submodule "eth_vlg"]
	path = eth_vlg
	url = https://github.com/hypernyan/eth_vlg.git
